<body class="index fus-black">
  <div class="jumbotron" id="top">
    <div class="fus-bg"></div>
    <div class="fus-overlay"></div>
    <div class="container">
      <div class="fus-pitch">
        <div class="fus-call-to-action">
          <h1>Evan Clough</h1>
          <h2>adventure photography</h2>
          <ul class="list social-icons list-inline list-center">
            <li class="icon">
              <%= link_to image_tag("instagram.svg"), "https://instagram.com/ekluff" %>
            </li>
            <li class="icon">
              <%= link_to image_tag("twitter.svg"), "https://twitter.com/ekluff" %>
            </li>
            <li class="icon">
              <%= link_to image_tag("linkedin.svg"), "https://linkedin.com/in/eclough" %>
            </li>
            <li class="icon">
              <%= link_to image_tag("github.svg"), "https://github.com/ekluff" %>
            </li>
            <li class="icon">
              <%= image_tag "mail.svg" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
