<!DOCTYPE html>
<html>
<head>
  <title>Evanclough</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">evan clough</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">web apps</a></li>
        <li><a href="#">photo stories</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </div>
  </nav>

<%= yield %>

<%= link_to 'Home', root_path %>

</body>
</html>
