<!DOCTYPE html>
<html>
<head>
  <title>evan clough</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">home</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">web apps</a></li>
        <li> <%= link_to "photo journals", images_path %> </li>
        <li><a href="#">about</a></li>
      </ul>
    </div>
  </nav>

<%= yield %>

<!-- <%= link_to 'Home', root_path %> -->

</body>
</html>
