<!DOCTYPE html>
<html>
<head>
  <title>evan clough</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="fus-black">
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li>
            <%= link_to "home", "/" %>
          </li>
          <li>
            <%= link_to "about", "/about" %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right list social-icons list-inline list-center">
          <li class="icon">
            <%= link_to image_tag("instagram.svg"), "https://instagram.com/ekluff" %>
          </li>
          <li class="icon">
            <%= link_to image_tag("twitter.svg"), "https://twitter.com/ekluff" %>
          </li>
          <li class="icon">
            <%= link_to image_tag("mail.svg"), "mailto:info@evanclough.com?Subject=Website%20inquiry" %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="fus-bg"></div>

  <%= yield %>

</body>
</html>
